*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#e2e2e2,#c9d6ff);
}
.container{
    position: relative;
    border-radius: 30px;
    background: #fff;
    width:850px;
    height:550px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    overflow: hidden;
}
.form-box{
    color:#8c88b5;
    position: absolute;
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
    text-align: center;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}
.container.active .form-box{
    right: 50%;
}
.form-box.register{
    visibility: hidden;
}
.form-box.login{
    visibility: visible;
}
.container.active .form-box.login{
    visibility: hidden;
}
.container.active .form-box.register{
    visibility: visible;
}
input{
    color:black;
}
form{
    width:100%;
}
form h1{
    margin:20px;
}
form input{
    border-radius: 15px;
    padding:10px;
    margin: 10px;
    background-color: #fff;
    font-size:17px;
    width:90%;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: box-shadow 0.6s ease;
    border-color:transparent;
    outline:transparent;
}
form input:focus{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
form .btn:hover{
    border-color:transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.forgotLink a{
    color: #56246b;
}
.btn{
    border-radius:15px;
    padding:10px;
    margin:15px;
    width:200px;
    color:black;
    background-color: #fff;
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.socialIcons a{
    font-size: 25px;
    color:#56246b;
    margin:5px;
}
.toggle-box{
    position: absolute;
    width:100%;
    height: 100%;
}
.toggle-panel.toggle-right{
    right: -50%;
    transition: 0.6s ease-in-out;
    transition-delay: 0.6s;
}
.toggle-panel{
    position:absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    align-items: center;
    transition: .6 ease-in-out;
}
.container.active .toggle-box::before{
    left:50%;
}
.container.active .toggle-panel.toggle-right{
    transition-delay: 1.2s;
    right:0;
}
.toggle-box::before{
    content: "";
    position:absolute;
    height: 100%;
    width: 300%;
    background:#B7B1F2;
    border-radius: 100px;
    z-index: 2;
    left:-250%;
    transition: 1.6s ease;
}
.toggle-panel.toggle-left{
    left:0;
    transition: 0.6s ease-in-out;
    transition-delay: 1.2s;
}
.container.active .toggle-panel.toggle-left{
    left:-50%;
    transition-delay: 0.6s;
}
.toggle-panel .btn{
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    color:white;
}